{include file="Com/header.html" title="--主页" flag=1}
<style>
    .last-img {
        width: 205px;
        height: 206px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition-duration: 0.5s;
        position: relative;
        top: 0px;
    }
    .last-img:hover{
        top: -3px;
        box-shadow: 3px 3px 3px 3px #ccc;
    }
</style>
<section id="section">
    <div class="list">
        <div class="roll_container">
            <div class="box">
                <ul class="pic_c">
                    <li><a href="#" class="pic pic1"></a></li>
                    <li><a href="#" class="pic pic2"></a></li>
                    <li><a href="#" class="pic pic3"></a></li>
                    <li><a href="#" class="pic pic4"></a></li>
                    <!-- <li><a href="#" class="pic pic1"></a></li> -->
                </ul>
                <a href="#" class='ws_prev'></a>
                <a href="#" class='ws_next'></a>
                <ul class='tips_point'>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        <div class="inner_c">
        </div>
        </div>
        <div class="about">
            <div class="container">
                <div>
                    <h2>{$about.title}</h2>
                    <p>{$about.intro}</p>
                </div>
            </div>
            <div class="test">
                <div class="container">
                    <h2>最新设计</h2>
                    <div>
                        {foreach from=$last item='row' name="f_row"}
                        <div style="display: inline-block;width: 33%;text-align: center;padding:10px 0px;">
                            <a href="{U('blog/showDetails', ['id' => $row['id'], 'category' => $row['name']])}" target="_blank"><img class="last-img" src="{C('URL')}/{$row['cover_img']}"></a>
                            <a href="{U('blog/showDetails', ['id' => $row['id'], 'category' => $row['name']])}" target="_blank"><p style="text-align: center;">{$row.title}</p></a>
                        </div>
                        {/foreach}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="picture">
                <div class="picture_shadow" >
                </div>
                <div class="picture_p">
                    <p>{$about.content}
                    </p>
                </div>
            </div>
            <div>
                <div class="container">
                    <h2>当前省市</h2>
                    <div class="figure">

                        <div class="clearfix"></div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

{include file="Com/footer.html"}

</body>
<!-- 首页js 轮播  -->
<script type="text/javascript" src="{C('URL')}/public/home/js/index.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=v8uxmcbjK7Q6BUIptI7pN9bvPO08V4qW"></script>
<script type="text/javascript" >
    if(province == '' || document.cookie.indexOf('province=') == -1){
        //自动定位
        var geolocation = new BMap.Geolocation();
        // 创建地理编码实例
        var myGeo = new BMap.Geocoder();

        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var pt = r.point;
                // 根据坐标得到地址描述
                myGeo.getLocation(pt, function(result){
                    if (result){
                        var addComp = result.addressComponents;
                        // alert(addComp.province + "," + addComp.city);
                        // console.log(result);
                        $('.province').text(addComp.province.substring(0, addComp.province.indexOf('省')));
                        $('.city').text(addComp.city.substring(0, addComp.city.indexOf('市')));
                        getCity(addComp.province.substring(0, addComp.province.indexOf('省')));
                        //设置cookie
                        $.get("{C('URL')}?p=home&m=index&a=setCity", {
                            'province' : addComp.province.substring(0, addComp.province.indexOf('省')),
                            'city': addComp.city.substring(0, addComp.city.indexOf('市'))
                        });
                        //请求最新设计
                        $.get("{C('URL')}?p=api&m=blog&a=lastBlog", {
                            'province' : addComp.province,
                            'city' : addComp.city
                        }, function(data){
                            if(data.errCode != 0){
                                return false;
                            }
                            var html = `<ul>`;
                            console.log(data);
                            var url = "{C('URL')}";
                            $(data.msg).each(function(key, val){
                                {literal}
                                html +=
                                `<li>
                                <img style='width:280px;height:250px;' src="${url}/${val.cover_img}" data-index='${val.id}'>
                                </li>`;
                                html += `</ul>`;
                                {/literal}
                            });
                            $('.figure').html(html);
                        }, 'json');
                    }else{

                    }
                });
            }
        });
    }
</script>
</html>