<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>美食管理系统——{$module}管理</title>
    <link rel="stylesheet" type="text/css" href="{C('URL')}/public/plugins/bootstrap/css/bootstrap.css">
    {if !empty($is_page)&&$is_page=="1"}
        <link rel="stylesheet" type="text/css" href="{C('URL')}/public/admin/css/page.css">
    {/if}
    <script src="{C('URL')}/public/plugins/bootstrap/jQuery.js"></script>
    <script src="{C('URL')}/public/plugins/bootstrap/js/bootstrap.js"></script>
</head>