{include file='Com/header1.html' flag='login'}
<body>
    <div class="loginform" style="margin-top: 20px;">
    	<div class="title" style="background-color: #0165ad;"><span class="logo-text font18">美食后台管理系统</span></div>
        <div class="body" style="background-color: #fff; border:1px solid black;">
       	  <form id="form1" name="form1" method="post" action="{C('URL')}/index.php?p=admin&m=privilege&a=loginh">
          	<label class="log-lab">账号</label>
            <input name="acc" type="text" class="login-input-user" style="background-color: #fff;"  id="textfield" value=""/>
          	<label class="log-lab">密码</label>
            <input name="pwd" type="password" style="background-color: #fff;"  class="login-input-pass" id="textfield" value=""/>
      			<label class="log-lab">验证码</label>
      			<div class="padding-bottom5"><img src="{C('URL')}/index.php?p=admin&m=privilege&a=captcha" id="img" width="300" height="170"></div>
      			<input name="captcha" type="text" class="login-input-user" id="textfield" value=""/>
      			<label class="log-lab" style=""><input type="checkbox" style="" name="rm7" value="yes"> 7天内自动登录</label>
            <input type="submit" name="button" id="button" value="登录" class="button" style="background-color: #0165ad;"/>
       	  </form>

        </div>
    </div>
<script type="text/javascript">
document.getElementById('img').onclick = function (){

  this.src = "{C('URL')}/index.php?p=admin&m=privilege&a=captcha&n="+Math.random();
};

</script>
</body>
</html>
