{include file="Com/header.html" is_page="1" module="关注"}
    <body>
        {include file="Com/fixedbar.html"}
        <div class="container" style="margin-bottom: 50px;">
            <div class="h5">
                <!-- <a href="http://www.smarty.com/stuMajor/tree.php?page={$page}&flag=1">添加学生</a> -->
            </div>
            <table class="table table-hover table-striped">
                <tr>
                    <td>序号</td>
                    <!-- PHP column -->
                        <td>ID</td>
                        <td>用户ID</td>
                        <td>关注用户ID</td>
                        <td>收藏时间</td>
                    <td>操作</td>
                </tr>
                <!-- tree row -->
                {foreach from=$rows key="key" item="row" name="f_row"}
                    <tr>
                        <td>{$smarty.foreach.f_row.iteration}</td>
                        <td>{$row.id}</td>
                        <td>{$row.u_id}</td>
                        <td>{$row.f_u_id}</td>
                        <td>{date('Y-m-d',$row.collected_at)}</td>
                        <td><a id="del" href="javascript:isDel({$row.id})">删除</a></td>
                    </tr>
                {/foreach}
            </table>
        </div>
    </body>
    {include file="Com/page.html" is_page="1" m="cate"}
</html>